@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.bebasNeue {
  font-family: "Bebas Neue", cursive;
  font-size: 4vw;
  color: #dbdbdb;
}

.box {
  margin: auto;
  box-shadow: 10px 10px #ccc;
}

.box > img {
  filter: grayscale(100%);
}
